<html>
    <head>
    <title>█▄•◘•▄█</title>
    <meta charset="utf-8"\>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
.footer {
    background-color:teal;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    margin: 0;   
    position:fixed;
}
.head {
    background-color:rgb(153, 223, 153);
    text-align: center;
}
.lesf-bar {
    background-color:rgb(141, 175, 221);
    top: 3em;
    width: 10em; 
    position: fixed;
}
.body {
    margin-top: 1em;
    margin-bottom: 8em;
    left: 0;
    right: 0;
}
.conteiner {
    margin-left: 12em;
    min-height: 10em;
    padding: 1em;
    background-color:rgb(199, 142, 253);
}
.hr {
    margin-left: 12em;
}
body{
    background-color: blanchedalmond; 
}
    </style>
</head>
    <body>
        <div class="head" name="title">
             {{{title}}}
        </div>

        <div class="body"> 
            <div class="conteiner" name = "text">
                {{{text}}}
            </div>
            <div class="lesf-bar">
                <ol>
                    <li><a href="http://localhost:3333/blog">Main menu</a></li>
                    <li><a href="http://localhost:3333/blog/0">Page 1</a></li>
                    <li><a href="http://localhost:3333/blog/1">Page 2</a></li>
                    <li><a href="http://localhost:3333/blog/2">Page 3</a></li>
                </ol>
            </div>
        </div>
        <footer class="footer">
            <h3>Footer description:</h3>
            <P>This blog created for test end learn js</P>
        </footer>
    </body>
</html>