        <div class="head" name="title">
             {{{title}}}
        </div>

        <div class="body"> 
            <div class="conteiner" name = "text">
                {{{text}}}
            </div>
            <hr class="hr">
            <div class="conteiner_posts" name = "text">
                {{{text}}}
            </div>
            <div class="lesf-bar">
                <ol>
                    <li><a href="http://localhost:3333/blog">Main menu</a></li>
                    <li><a href="http://localhost:3333/blog/0">Page 1</a></li>
                    <li><a href="http://localhost:3333/blog/1">Page 2</a></li>
                    <li><a href="http://localhost:3333/blog/2">Page 3</a></li>
                </ol>
            </div>
        </div>
        <footer class="footer">
            <h3>Footer description:</h3>
            <P>This blog created for test end learn js</P>
        </footer>